-- AlterEnum
ALTER TYPE "ApprovalStatus" ADD VALUE 'SUPERSEDED';

-- AlterTable
ALTER TABLE "approval_requests" ADD COLUMN     "reviewed_at" TIMESTAMPTZ(6),
ADD COLUMN     "superseded_by_id" UUID;

-- AddForeignKey
ALTER TABLE "approval_requests" ADD CONSTRAINT "approval_requests_superseded_by_id_fkey" FOREIGN KEY ("superseded_by_id") REFERENCES "approval_requests"("id") ON DELETE SET NULL ON UPDATE CASCADE;

